{%  extends 'webs4solution/base.html'%}
{%load staticfiles%}
{%block title_block%}Who We Are {%endblock%}
{% block body %}


    <div role="main" class="main">


        <!-- banner  -->
<section class="section pt-4 pb-4 section-text-overlay java-advantages">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-xl-5">
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">
                    <h1 class="font-weight-semibold text-5 mb-3 dark-blue-title">Web Development Company </h1>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="float-lg-right title-img pb-4">
                    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                        <div class="pr-0 pr-lg-3 pl-xl-5">
                             <img src="img/backgrounds/web-development-banner.svg" class="img-fluid" alt="Web Design & Development Company" title="Web development" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 4, 'horizontal': true, 'transition': true}" />
                        </div>
                    </div>
                </div>
                <div class="float-lg-left title-content">
                    <p class="mb-4 text-3 appear-animation dark-gray-text" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">Empower your business, start-up or enterprise with scalable and reliable web application development services from Kody Technolab. Our dedicated team of designers &amp; developers have experience in delivering robust and device independent custom web applications.</p>
                    <div class="row justify-content-end m-0 green-check">
                                  <div class="col-md-12 col-lg-12 mx-auto appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                                <div class="row justify-content-center">
                                    <div class="col-6 col-md-3 col-lg-3 ">
                                        <div class="ic-start"> 
                                            <img src="img/flutter-icon/estimation-within-24-hrs.svg" alt="">
                                        </div>
                                         <h3 class="text-2 mt-3 dark-gray-text text-center dark-gray-text">24/7 Support</h3>                         
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-3">
                                        <div class="ic-start"> 
                                            <img src="img/flutter-icon/hour-free.svg" alt="">
                                        </div>
                                         <h3 class="text-2 mt-3 dark-gray-text text-center dark-gray-text">20 Working Hours Free</h3>                          
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-3 ">
                                        <div class="ic-start"> 
                                            <img src="img/flutter-icon/developer-skill.svg" alt="">
                                        </div>
                                         <h3 class="text-2 mt-3 dark-gray-text text-center dark-gray-text">Developer's Skill Test</h3>                            
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-3">
                                        <div class="ic-start"> 
                                            <img src="img/flutter-icon/strart.svg" alt="">
                                        </div>
                                         <h3 class="text-2 mt-3 dark-gray-text text-center dark-gray-text">Assured Delivery</h3>                          
                                    </div>
                                </div>
                            </div>
                                </div>
                        <div class="header-button d-sm-flex ml-0 mt-4">
                            <a href="#hire-resource" data-hash data-hash-offset="140" rel="nofollow" title="Talk to an Expert!" class="btn btn-outline btn-rounded btn-primary btn-v-3 btn-h-4 font-weight-bold"> <span class="wrap"> <span>Talk to an Expert!</span>
                                </span>
                            </a>
                       </div>
                </div>

            </div>

        </div>
    </div>
</section>
        <!-- banner and  -->

        <div class="row justify-content-center">
            <img src="img/hr-middle.png" alt="" >
        </div>

       <!-- all mobile page -->
        <section class="section mobile-project  business-way">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col">
                    <h2 class="font-weight-semibold text-5 dark-blue-title">Your Business Your Way</h2>
                    
                    <p class="text-3 mt-3 dark-gray-text">As a leading web development company in India, our expertise lies in providing web development solutions as per our clients requirements and vision. </p>
                </div>
            </div>    

            <div class="row justify-content-end m-0 green-check">
                                  <div class="col-md-12 col-lg-12 mx-auto appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                                <div class="row justify-content-center">
                                     <div class="col-12 display-mobile col-sm-6 col-md-5 col-lg-4 col-xl-1-5 mb-4">
                                        <a href="php-development.html" class="related-page-box">
                                                        <div class="ic-start"> 
                                                            <img src="img/development-icon/php-brand.svg" alt="">
                                                        </div>
                                                        <h5 class="m-0">PHP Development</h5>
                                                    </a>                        
                                    </div>
                                    <div class="col-12 display-mobile col-sm-6 col-md-5 col-lg-4 col-xl-1-5 mb-4">
                                        <a href="java-development.html" class="related-page-box">
                                                        <div class="ic-start"> 
                                                            <img src="img/development-icon/java-brand.svg" alt="">
                                                        </div>
                                                        <h5 class="m-0">Java Development</h5>
                                                    </a>                        
                                    </div>
                                    <div class="col-12 display-mobile col-sm-6 col-md-5 col-lg-4 col-xl-1-5 mb-4">
                                        <a href="laravel-development.html" class="related-page-box">
                                                        <div class="ic-start"> 
                                                            <img src="img/development-icon/laravel-brand.svg" alt="">
                                                        </div>
                                                        <h5 class="m-0">Laravel Development</h5>
                                                    </a>                           
                                    </div>
                                    <div class="col-12 display-mobile col-sm-6 col-md-5 col-lg-4 col-xl-1-5 mb-4">
                                        <a href="node-js-development.html" class="related-page-box">
                                                        <div class="ic-start"> 
                                                            <img src="img/development-icon/nodejs-brand.svg" alt="">
                                                        </div>
                                                        <h5 class="m-0">Node.js Development</h5>
                                                    </a>                       
                                    </div>
                                    <div class="col-12 display-mobile col-sm-6 col-md-5 col-lg-4 col-xl-1-5 mb-4">
                                        <a href="angular-js-development.html" class="related-page-box">
                                                        <div class="ic-start"> 
                                                            <img src="img/development-icon/angular-brand.svg" alt="">
                                                        </div>
                                                        <h5 class="m-0">Angular Development</h5>
                                                    </a>                      
                                    </div>
                                    <div class="col-12 display-mobile col-sm-6 col-md-5 col-lg-4 col-xl-1-5 mb-4">
                                        <a href="react-js-development.html" class="related-page-box">
                                                        <div class="ic-start"> 
                                                            <img src="img/flutter-icon/reactnative-brand.svg" alt="">
                                                        </div>
                                                        <h5 class="m-0">React.js Development</h5>
                                                    </a>                           
                                    </div>
                                    <div class="col-12 display-mobile col-sm-6 col-md-5 col-lg-4 col-xl-1-5 mb-4">
                                        <a href="spring-web-development.html" class="related-page-box">
                                                        <div class="ic-start"> 
                                                            <img src="img/flutter-icon/spring-brand.svg" alt="">
                                                        </div>
                                                        <h5 class="m-0">Spring Development</h5>
                                                    </a>                      
                                    </div>
                                </div>
                            </div>
                        </div>     
        </div>
    </section>

    
    <!-- end all mobile page -->
 <div class="section py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="border border-left-0 border-right-0 border-bottom-0 d-flex align-items-center justify-content-center">
                                    <a class="position-absolute">
                                        <img src="img/flutter-icon/web-icon.svg" height="84" alt="" class="img-fluid bg-light px-4">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
    <!-- end slider -->

    <!-- services -->
         <section class="section what-we-do services-mobileweb">
            <div class="container">
                <div class="row text-center mb-4">
                <div class="col">
                    <h2 class="font-weight-semibold text-5 dark-blue-title">Web Design &amp; Development Services</h2>                  
                    
                </div>
            </div>
                <div class="row">
                    <div class="col-md-10 col-lg-4 d-lg-block d-md-none d-none text-center mx-auto my-4 mt-lg-5 mt-xl-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300"> <img src="img/flutter-icon/web-development-service-banner.svg" class="img-fluid" alt="Web Design &amp; Development Services" />
                    </div>
                    <div class="col-md-12 col-lg-8 col-xs-12 mx-auto mt-lg-5 mt-xl-4 pt-xl-3 appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="300">
                         <div class="row justify-content-end m-0 green-check">
                                       <p class="text-3 mt-1 mb-4 dark-gray-text text-center">Our in house team consists of highly motivated and innovative professionals who strive to deliver tailor made web development services that will help you increase your conversion rate. </p>
                                        <div class="col-lg-6 col-md-6 pl-xl-0">
                                            <ul class="lead list list-unstyled lead blue-tick">
                                                <li class="mb-4 text-left py-3 pl-4 pr-1"><span class="text-3 font-weight-semibold dark-gray-text">Native mobile app development</span></li>
                                                <li class="mb-4 text-left py-3 pl-4 pr-1"><span class="text-3 font-weight-semibold dark-gray-text">Web CMS Development </span></li>
                                                 <li class="mb-4 text-left py-3 pl-4 pr-1"><span class="text-3 font-weight-semibold dark-gray-text">Enterprise Development  </span></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <ul class="lead list list-unstyled lead blue-tick">
                                                <li class="mb-4 text-left py-3 pl-4 pr-1"><span class="text-3 font-weight-semibold dark-gray-text">Web Portal Development</span></li>
                                                <li class="mb-4 text-left py-3 pl-4 pr-1"><span class="text-3 font-weight-semibold dark-gray-text">Ecommerce Web Development</span></li>
                                                <li class="mb-4 text-left py-3 pl-4 pr-1"><span class="text-3 font-weight-semibold dark-gray-text">Web Social Networking </span></li>
                                            </ul>
                                        </div>
                                </div>
                        
                    </div>
                    <div class="col-md-10 col-lg-4 mx-auto mt-lg-5 mt-xl-4 pt-xl-3 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300"></div>
                </div>
            </div>
        </section>
    <!-- end services -->


     <!-- valu project -->
        <section class="section valu-project">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col">
                    <h2 class="font-weight-semibold text-5 dark-blue-title">Our Engagement Models  </h2>
                   
                </div>
            </div>  
            <div class="row">
                 <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                    <article class="blog-post border py-3 pl-3 pr-3">
                            <div class="image-frame hover-effect-2 text-center pt-2">
                                
                                    <img src="img/development-icon/extend-your-team.svg" class="img-fluid mb-3" alt="">
                            </div>
                            <div class="appear-animation animated text-left appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
                                <h3 class="font-weight-semibold link-color-dark dark-gray-text text-3 mb-1 pt-2">Extend Your Team</h3>
                                
                            </div>
                        <p class="appear-animation text-left text-2 dark-gray-text pt-2 animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">You may need a few people to add in your existing team or need a whole team. Our in house team has got your back in both the cases!</p>
                    </article>
                </div>

                <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                    <article class="blog-post border py-3 pl-3 pr-3">
                            <div class="image-frame hover-effect-2 text-center pt-2">
                                
                                    <img src="img/development-icon/build-your-idea-from-scratch.svg" class="img-fluid mb-3" alt="">
                            </div>
                            <div class="appear-animation animated text-left appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
                                <h3 class="font-weight-semibold link-color-dark dark-gray-text text-3 mb-1 pt-2">Build Your Idea From Scratch</h3>
                                
                            </div>
                        <p class="appear-animation text-left pt-2 text-2 dark-gray-text animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">We develop a web app for you right from the scratch as our end to end development solutions have got you covered right from designing to testing. </p>
                    </article>
                </div>

                <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                   <article class="blog-post border py-3 pl-3 pr-3">
                            <div class="image-frame hover-effect-2 text-center pt-2">
                                
                                    <img src="img/development-icon/manage-team-service.svg" class="img-fluid mb-3" alt="">
                            </div>
                            <div class="appear-animation animated text-left appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
                                <h3 class="font-weight-semibold link-color-dark dark-gray-text text-3 mb-1 pt-2">Manage Team Service</h3>
                                
                            </div>
                        <p class="appear-animation text-left pt-2 text-2 dark-gray-text animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">Our faster response time and technical expertise adds to your capacity while reducing overall cost of the website designed.</p>
                    </article>
                </div>

            </div>          
        </div>
    </section>
    <!-- end project -->


          <section class="section team_section case-study mobile-study">
            <div class="container">
                 <div class="row text-center mb-4">
                <div class="col">
                    <h2 class="font-weight-semibold text-5 dark-blue-title">Web Application Development Portfolio</h2>                  
                     <p class="text-3 mt-1 mb-4 dark-gray-text text-center">Here is a glimpse of how our web application design &amp; development team helped clients grow their business! </p>
                </div>
            </div>
                <div class="row align-items-center mb-4">
                <div class="col-md-12 text-center">
                    </div>
                    <div class="col">
                        <ul id="portfolioLoadMoreFilter" class="nav nav-light-2 sort-source justify-content-center justify-content-md-start mb-4 pr-3 pl-3 mb-md-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'masonry', 'filter': '*'}">
                            <li class="nav-item" data-option-value="*"><a href="Javascript:void(0);" title="Show All" rel="nofollow" class="nav-link active pl-1">Show All</a></li>
                              <li class="nav-item" data-option-value=".taxi"><a href="Javascript:void(0);" title="TAXI" rel="nofollow" class="nav-link">Taxi</a></li>
                            <li class="nav-item" data-option-value=".packerandmovers"><a href="Javascript:void(0);" rel="nofollow" title="PACKERS AND MOVERS" class="nav-link">Packers &amp; Movers</a></li>
                            <li class="nav-item" data-option-value=".fooddelivery"><a href="Javascript:void(0);" rel="nofollow" title="FOOD DELIVERY" class="nav-link">Food Delivery</a></li>
                            <li class="nav-item" data-option-value=".ecommerce"><a href="Javascript:void(0);" title="E-COMMERCE" rel="nofollow" class="nav-link">E-Commerce</a></li>
                           
                            
                            <li class="nav-item" data-option-value=".schoolmanagemnetsystem"><a href="Javascript:void(0);" rel="nofollow" title="SCHOOL MANAGEMENT SYSTEM" class="nav-link">School Management System</a></li>
                            <li class="nav-item" data-option-value=".musicsystemapplikeshopify"><a href="Javascript:void(0);" rel="nofollow" title="MUSIC SYSTEM APP LIKE SHOPIFY" class="nav-link">Online Music Streaming App</a></li> 
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="sort-destination-loader sort-destination-loader-showing min-height-550 p-3" data-plugin-remove-min-height>
                            <ul id="portfolioLoadMoreWrapper" class="portfolio-list sort-destination team_list" data-sort-id="portfolio" data-total-pages="3">

                        <li class="col-sm-6 col-lg-4 mb-4 isotope-item taxi">
                         <div class="card rounded bg-light border-0">
                            <a href="taxi-on-click.html" title="Taxi On Click">
                                <img src="img/case-study/taxi-problem-3.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0">
                                <a href="taxi-on-click.html" class="link-color-dark" title="Taxi On Click">Taxi On Click</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i><a href="taxi-on-click.html" class="link-color-dark" title="Taxi On Click">Technology Stack - iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">To implement a system in which the customer has the option of not sharing his contact details.</p>
                            </div>
                                </div>
                        </li>
                        <li class="col-sm-6 col-lg-4 mb-4 isotope-item fooddelivery">
                      
                        <div class="card rounded bg-light border-0">
                            <a href="foodonclick.html" title="FoodOnClick">
                                <img src="img/case-study/food-on-click-problem.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0">
                                    <a href="foodonclick.html" class="link-color-dark"  title="FoodOnClick">FoodOnClick</a>
                                </h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="foodonclick.html" class="link-color-dark"  title="FoodOnClick">Technology Stack - Android</a>
                                </div>
                                <p class="text-color-light-3 mb-0"> The client required his food on demand application to make food delivery easy for the...</p>
                         
                        </div>
                    </div>
                    </li>
                       
                        <li class="col-sm-6 col-lg-4 mb-4 isotope-item packerandmovers">
                         <div class="card rounded bg-light border-0">
                            <a href="packers-and-movers-on-demand.html" title="Packers and Movers On Demand">
                                <img src="img/case-study/packers-demand-problem.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0">
                                    <a href="packers-and-movers-on-demand.html" class="link-color-dark" title="Packers and Movers On Demand">Packers and Movers On Demand</a>
                                </h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="packers-and-movers-on-demand.html" class="link-color-dark" title="Packers and Movers On Demand">Technology Stack - iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">To provide an on-demand moving and delivery app that helps the customers to move...</p>
                            </div>
                        </div> 
                        </li>
                        <li class="col-sm-6 col-lg-4 mb-4 isotope-item fooddelivery">
                      
                        <div class="card rounded bg-light border-0">
                            <a href="online-food-ordering.html" title="Online Food Ordering">
                                <img src="img/case-study/onlinefood-problem.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0"><a href="online-food-ordering.html" class="link-color-dark" title="Online Food Ordering">Online Food Ordering</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="online-food-ordering.html" class="link-color-dark" title="Online Food Ordering">Technology Stack - Android</a>
                                </div>
                                <p class="text-color-light-3 mb-0"> The client’s aim to launch the online food delivery app was to provide the end user...</p>
                         
                        </div>
                    </div>
                    </li>
                     

                        <li class="col-sm-6 col-lg-4 mb-4 isotope-item taxi">
                         <div class="card rounded bg-light border-0">
                            <a href="easy-click-cabs.html" title="Easy Click Cabs">
                                <img src="img/case-study/taxi-problem-2.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0">
                                <a href="easy-click-cabs.html" class="link-color-dark" title="Easy Click Cabs">Easy Click Cabs</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="easy-click-cabs.html" class="link-color-dark" title="Easy Click Cabs">Technology Stack - Android</a>
                                </div>
                                <p class="text-color-light-3 mb-0">The primary aim of the client was to provide an app to the users where they have an user.</p>
                            </div>
                                </div> 
                        </li>  
                         <li class="col-sm-6 col-lg-4 mb-4 isotope-item  schoolmanagemnetsystem">
                     <div class="card rounded bg-light border-0">
                            <a href="student-behavior-tracking.html" title="student behaviour tracking ">
                                <img src="img/case-study/students-impact.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0"><a href="student-behavior-tracking.html" title="Student Behaviour Tracking" class="link-color-dark">Student Behaviour Tracking</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="student-behavior-tracking.html" class="link-color-dark" title="Student Behaviour Tracking">Technology Stack - iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">Our client planned to put to use a mobile app for tracking student behaviour. Basically, a better way to manage...</p>
                            </div>
                        </div>
                     </li>
                       
                       
                        <li class="col-sm-6 col-lg-4 mb-4 isotope-item taxi">
                         <div class="card rounded bg-light border-0">
                            <a href="express-cabs.html" title="Express Cabs">
                                <img src="img/case-study/taxi-impact-4.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0">
                                <a href="express-cabs.html" class="link-color-dark" title="Express Cabs">Express Cabs</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="express-cabs.html" class="link-color-dark" title="Express Cabs">Technology Stack - iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">To provide a platform to the end users which is future proof as well as ensures easy...</p>
                            </div>
                                </div> 
                        </li>  
                        
                        <li class="col-sm-6 col-lg-4 mb-4 isotope-item packerandmovers">
                         <div class="card rounded bg-light border-0">
                            <a href="packers-on-the-go.html" title="Packers On The Go">
                                <img src="img/case-study/packers-on-go-problem.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0">
                                <a href="packers-on-the-go.html" title="Packers On The Go" class="link-color-dark">Packers On The Go</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="packers-on-the-go.html" class="link-color-dark">Technology Stack - iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">The client approached Kody Technolab with the purpose of creating a packers and movers mobile app that...</p>
                            </div>
                        </div> 
                        </li>
                         
                    
                    <li class="col-sm-6 col-lg-4 mb-4 isotope-item fooddelivery">
                      
                        <div class="card rounded bg-light border-0">
                            <a href="foodondemand.html"  title="FoodonDemand">
                                <img src="img/case-study/food-on-demand-impact.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0">
                                <a href="foodondemand.html" class="link-color-dark" title="FoodonDemand">FoodonDemand</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="foodondemand.html" class="link-color-dark">Technology Stack -  iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">The client had a few clear priorities while approaching us for developing his online food...</p>
                         
                        </div>
                    </div>
                    </li>
                    <li class="col-sm-6 col-lg-4 mb-4 isotope-item ecommerce">
                      
                        <div class="card rounded bg-light border-0">
                            <a href="clickandshop.html">
                                <img src="img/case-study/shop-problem.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0"><a href="clickandshop.html" class="link-color-dark">Click And Shop</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="clickandshop.html" class="link-color-dark">Technology Stack - iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">The main objective of the client was to make life easier of the end user in their current busy schedule...</p>
                         
                        </div>
                    </div>
                    </li>
                   <li class="col-sm-6 col-lg-4 mb-4 isotope-item ecommerce">
                      
                        <div class="card rounded bg-light border-0">
                            <a href="ShopatEase.html">
                                <img src="img/case-study/ShopatEase-impact.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0"><a href="ShopatEase.html" class="link-color-dark">ShopatEase</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="ShopatEase.html" class="link-color-dark">Technology Stack - Android</a>
                                </div>
                                <p class="text-color-light-3 mb-0">The client already had a multiple working websites but was unable to extract...</p>
                         
                        </div>
                    </div>
                    </li>
                    <li class="col-sm-6 col-lg-4 mb-4 isotope-item  schoolmanagemnetsystem">
                     <div class="card rounded bg-light border-0">
                            <a href="school-management-system.html" title="School Management System">
                                <img src="img/case-study/school-problem.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0"><a href="school-management-system.html" class="link-color-dark" title="School Management System">School Management System</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="school-management-system.html" class="link-color-dark" title="School Management System">Technology Stack - iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">The client approached us with the intention to develop an educational portal that offers end to...</p>
                            </div>
                        </div>
                     </li>
                     <li class="col-sm-6 col-lg-4 mb-4 isotope-item taxi">
                         <div class="card rounded bg-light border-0">
                            <a href="taxi-booking-app.html" title="Quick Cab">
                                <img src="img/case-study/taxi-impact.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0">
                                <a href="taxi-booking-app.html" class="link-color-dark" title="Quick Cab">Quick Cab</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="taxi-booking-app.html" class="link-color-dark">Technology Stack - iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">To develop a platform where people can have an access to comfortable on demand taxi booking app.</p>
                            </div>
                                </div> 
                        </li> 
                     <li class="col-md-6 col-lg-4 mb-4 isotope-item  musicsystemapplikeshopify">
                     <div class="card rounded bg-light border-0">
                            <a href="online-music-streaming-app.html" title="Online Music Streaming App">
                                <img src="img/case-study/music-problems.jpg" class="card-img-top hover-effect-2" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="font-weight-bold text-4 mb-0"><a href="online-music-streaming-app.html" class="link-color-dark" title="Online Music Streaming App">Online Music Streaming App</a></h2>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-tag text-color-primary mr-2" aria-label="category"></i>
                                    <a href="online-music-streaming-app.html" class="link-color-dark" title="Online Music Streaming App" >Technology Stack - iOS</a>
                                </div>
                                <p class="text-color-light-3 mb-0">To develop a revolutionary music streaming app that contains an array of songs and albums for different moods of the end user...</p>
                            </div>
                        </div>
                     </li> 



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    <!-- enhance your business -->
        <section class="section enhance-flutter mobile-why-choose mobile-app-choose">
                    <div class="container">
                        <div class="row text-center mt-4">
                            <div class="col">
                                <div class="overflow-hidden mb-xl-3">
                                    <h2 class="font-weight-semibold text-5 mb-xl-3 dark-blue-title appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Why Choose Us? </h2>
                                    <p class="text-3 mt-1 mb-4 dark-gray-text text-center">Our simplistic web development process keeps you involved at each stage. We brainstorm with you to understand your ideas and expectations from the project and meet them. </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3 mb-4 mx-auto mt-lg-5 mt-xl-2 pt-xl-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                                <div class="icon-box icon-box-style-4 mb-4 mb-lg-3 border pr-2 pr-xl-2 pl-2">
                                    <div class="icon-box-icon pt-3 pb-0 pl-0 pr-0">
                                        <img src="img/flutter-icon/developer-skill.svg" alt="">
                                    </div>
                                    <div class="icon-box-info pt-3 pb-0">
                                        <div class="icon-box-info-title">
                                            <h3 class="text-3 dark-gray-text"><b>Dedicated app developers at your service,</b> that work exclusively on your project to give you the desired results.</h3>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 mb-4 mx-auto mt-lg-5 mt-xl-2 pt-xl-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                                <div class="icon-box icon-box-style-4 mb-4 mb-lg-3 border pr-2 pr-xl-2 pl-2">
                                    <div class="icon-box-icon pt-3 pb-0 pl-0 pr-0">
                                        <img src="img/flutter-icon/reduce-time.svg" alt="">
                                    </div>
                                    <div class="icon-box-info pt-3 pb-0">
                                        <div class="icon-box-info-title">
                                            <h3 class="text-3 dark-gray-text"><b>Agile mobile app development process,</b> to build a web based app efficiently and in a quick turnover time.
 
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 mb-4 mx-auto mt-lg-5 mt-xl-2 pt-xl-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                                <div class="icon-box icon-box-style-4 mb-4 mb-lg-3 border pr-1 pr-xl-2 pl-2">
                                    <div class="icon-box-icon pt-3 pb-0 pl-0 pr-0">
                                        <img src="img/flutter-icon/communication%20.svg" alt="">
                                    </div>
                                    <div class="icon-box-info pt-3 pb-0">
                                        <div class="icon-box-info-title">
                                            <h3 class="text-3 dark-gray-text"><b>Constant Communication with the team,</b> to ensure complete project transparency and keep you updated with the progress.</h3>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 mb-4 mx-auto mt-lg-5 mt-xl-2 pt-xl-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                                <div class="icon-box icon-box-style-4 mb-4 mb-lg-3 border pr-1 pr-xl-2 pl-2">
                                    <div class="icon-box-icon pt-3 pb-0 pl-0 pr-0">
                                        <img src="img/flutter-icon/hour-free.svg" alt="">
                                    </div>
                                    <div class="icon-box-info pt-3 pb-0">
                                        <div class="icon-box-info-title">
                                            <h3 class="text-3 dark-gray-text"><b>Keeping up with the deadlines</b> has earned us the reputation of a popular web design and development company.  </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    <!-- end page -->


    <!-- valu project -->
        <section class="section valu-project value-addition">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col">
                    <h2 class="font-weight-semibold text-5 dark-blue-title">Value Addition</h2>
                    
                    <p class="text-3 mt-3 dark-gray-text">At Kody Technolab, our team has substantial experience to ensure that your web application is easy to use and looks professional too. We prepare a design from scratch that is unique for your business. </p>
                </div>
            </div>  
            <div class="row">
                 <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <article class="blog-post border py-3 pl-3 pr-3">
                            <div class="image-frame hover-effect-2 text-center pt-2">
                                
                                    <img src="img/flutter-icon/building-trust.svg" class="img-fluid mb-3" alt="">
                            </div>
                            <div class="appear-animation animated text-left appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
                                <h3 class="font-weight-semibold text-3 mb-1 pt-2 link-color-dark dark-gray-text">Project Management</h3>
                                
                            </div>
                        <p class="appear-animation text-left text-2 dark-gray-text pt-2 animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">A project management system in place ensures complete transparency and maximum efficiency of the team &amp; a dedicated project manager will act as a single point of communication.  </p>
                    </article>
                </div>

                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <article class="blog-post border py-3 pl-3 pr-3">
                            <div class="image-frame hover-effect-2 text-center pt-2">
                                
                                    <img src="img/flutter-icon/ui-ux.svg" class="img-fluid mb-3" alt="">
                            </div>
                            <div class="appear-animation animated text-left appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
                                <h3 class="font-weight-semibold link-color-dark dark-gray-text text-3 mb-1 pt-2">UI/UX Design</h3>
                                
                            </div>
                        <p class="appear-animation text-left pt-2 text-2 dark-gray-text animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">Our ingenious team of designers never fail to deliver intuitive designs for every web application project. UI/UX gives the first impression of your web app and is thus an integral step in the whole process. </p>
                    </article>
                </div>

                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <article class="blog-post border py-3 pl-3 pr-3">
                            <div class="image-frame hover-effect-2 text-center pt-2">
                                
                                    <img src="img/flutter-icon/architecture.svg" class="img-fluid mb-3" alt="">
                            </div>
                            <div class="appear-animation animated text-left appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
                                <h3 class="font-weight-semibold text-3 mb-1 link-color-dark dark-gray-text pt-2">Quality Testing</h3>
                                
                            </div>
                        <p class="appear-animation text-left pt-2 text-2 dark-gray-text animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">Our QA team ensures that we deliver error free experiences and engaging user experience to you.</p>
                    </article>
                </div>

                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <article class="blog-post border py-3 pl-3 pr-3">
                            <div class="image-frame hover-effect-2 text-center pt-2">
                                
                                    <img src="img/flutter-icon/development.svg" class="img-fluid mb-3" alt="">
                            </div>
                            <div class="appear-animation animated text-left appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="700ms">
                                <h3 class="font-weight-semibold link-color-dark dark-gray-text text-3 mb-1 pt-2">Support Center</h3>
                                
                            </div>
                        <p class="appear-animation text-left pt-2 text-2 dark-gray-text animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="700ms">Our continuous support to the clients post development too has made us a reliable service provider. All you need to do is reach out to us and we will take care of the rest. </p>
                    </article>
                </div>

            </div>          
        </div>
    </section>
    <!-- end project -->

    <!-- testimonila -->
        <section class="section testimonial-main">
            <div class="container">
                <div class="row text-center mb-4">
                    <div class="col">
                        <h2 class="font-weight-semibold text-5 dark-blue-title">Client Speaks</h2>
                        
                        <p class="text-3 mt-3 dark-gray-text">An experienced team of developers will help you make your mark in the digital world. Challenges are just another opportunity for us.</p>
                    </div>
                </div> 
                <div class="row">
                    <div class="owl-carousel owl-theme dots-style-1 nav-style-3" data-plugin-options="{'responsive': {'0': {'items': 1}, '576': {'items': 1}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 3}}, 'dots': true, 'nav': false, 'loop': false, 'navtext': [], 'margin': 30}">
                                <div>
                                    <div class="text-center mb-4">
                                        <div class="testimonial testimonial-style-2">
                                            <div class="card card-style-2 card-style-3 border-0 text-left mt-2">
                                               
                                                <div class="card-body p-5">
                                                    <div class="testimonial-author mb-3">
                                                        <div class="testimonial-author-image">
                                                            <img src="img/web-aaplication-development-test1.jpg" class="card-img-top border-light-5" alt="" />
                                                        </div>
                                                        <span class="ml-4 pl-5">
                                                            <strong class="text-3 ">Juan Wong</strong>
                                                            <span class="mt-1">Elantra Lab</span>
                                                        </span>
                                                    </div>
                                                    <blockquote class="font-tertiary text-2 m-0 p-0">" They have perfectly manage our IT needs and constantly provides excellent service and supports.This guys give us tremendous comfort to focus on our business and they focus on IT needs. "
                                            </blockquote>
                                                    
                                                </div>
                                            </div>
                                        </div>      
                                    </div>
                                </div>
                                <div>
                                    <div class="text-center mb-4">
                                        <div class="testimonial testimonial-style-2">
                                            <div class="card card-style-2 card-style-3 border-0 text-left mt-2">
                                               
                                               <div class="card-body p-5">
                                                    <div class="testimonial-author mb-3">
                                                        <div class="testimonial-author-image">
                                                            <img src="img/web-aaplication-development-test2.jpg" class="card-img-top border-light-5" alt="" />
                                                        </div>
                                                        <span class="ml-4 pl-5">
                                                            <strong class="text-3 ">Art Richards</strong>
                                                            <span class="mt-1">Walternet Solution</span>
                                                        </span>
                                                    </div>
                                                    <blockquote class="font-tertiary text-2 m-0 p-0">" I’ve tried using different softwares. The computer is not my strong side. There is excellent support behind Kody technolab and people to walk you through it. If you have any questions they’ll go over that and explain to you how to do that. "
                                            </blockquote>
                                                    
                                                </div>
                                            </div>
                                        </div>      
                                    </div>
                                </div>
                                <div>
                                    <div class="text-center mb-4">
                                        <div class="testimonial testimonial-style-2">
                                            <div class="card card-style-2 card-style-3 border-0 text-left mt-2">
                                               
                                                <div class="card-body p-5">
                                                    <div class="testimonial-author mb-3">
                                                        <div class="testimonial-author-image">
                                                            <img src="img/web-aaplication-development-test3.jpg" class="card-img-top border-light-5" alt="" />
                                                        </div>
                                                        <span class="ml-4 pl-5">
                                                            <strong class="text-3 ">Conrad Fulbrook</strong>
                                                            <span class="mt-1">Mcdermott Lab</span>
                                                        </span>
                                                    </div>
                                                    <blockquote class="font-tertiary text-2 m-0 p-0">" There’s no way we could have hired this many people and gotten so much business had we not had all of those back office systems figured out. It’s been easier growing our company with a system that is so easy and scalable. "
                                            </blockquote>
                                                    
                                                </div>
                                            </div>
                                        </div>      
                                    </div>
                                </div>
                                
                            </div>
                </div>
            </div>
        </section>
    <!-- end testimonial -->



      
      
    </div>
     {% endblock %}